# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Storage plugin
/storage-plugin/.gradle/
/storage-plugin/.classpath
/storage-plugin/.project
/storage-plugin/.settings/org.eclipse.buildship.core.prefs
/storage-plugin/bin/
/storage-plugin/build/
